<!doctype html>
<html lang="en">
  <head>
    {{>headLinks}}
  </head>
  <body>
    {{>header}}
    <div class="container my-4">
        <div class="row featurette d-flex justify-content-center align-items-center">
          <div class="col-md-7">
          <h2 class="featurette-heading"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">How it was started.</font></font><span class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">It will stun your mind.</font></font></span></h2>
              <p class="lead"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">It was started with an idea to make people aware about new science and technologies.</font><font style="vertical-align: inherit;">To let them know about the evolution of world through science.</font><font style="vertical-align: inherit;">Science and technology is spreading in every field of aspects like in automobiles,robotics, etc.</font><font style="vertical-align: inherit;">It is one of the most powerful indicators of emotions.</font></font></p>
            </div>
            <div class="col-md-4">
              <img class="img-fluid" src="abt img\abt1.jpg" alt="">
            </div>
          </div>
          <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-7 order-md-2">
              <h2 class="featurette-heading"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Started in 1947. </font></font><span class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">It will stun your mind.</font></font></span></h2>
              <p class="lead"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim doloremque quae ut quod earum, quibusdam nam sapiente iusto, dolorum dolores nemo reprehenderit, illum veritatis veniam.</font><font style="vertical-align: inherit;">Lorem ipsum dolor sit amet.</font><font style="vertical-align: inherit;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, sed?</font><font style="vertical-align: inherit;">It is one of the most powerful indicators of emotions.</font></font></p>
            </div>
            <div class="col-md-4 order-md-1">
              <img class="img-fluid" src="abt img\img1.jpg" alt="">
            </div>
          </div>
          <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-7">
              <h2 class="featurette-heading"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">It is located in INDIA. </font></font><span class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">It will stun your mind.</font></font></span></h2>
              <p class="lead"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim doloremque quae ut quod earum, quibusdam nam sapiente iusto, dolorum dolores nemo reprehenderit, illum veritatis veniam.</font><font style="vertical-align: inherit;">Lorem ipsum dolor sit amet.</font><font style="vertical-align: inherit;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, sed?</font><font style="vertical-align: inherit;">It is one of the most powerful indicators of emotions.</font></font></p>
            </div>
            <div class="col-md-4">
              <img class="img-fluid" src="abt img\img3.jpg" alt="">
            </div>
          </div>
    </div>
    {{>footer}}
  </body>
</html>