<!doctype html>
<html lang="en">

<head>
    {{>headLinks}}
</head>
<body>
    {{>header}}
    <div class="container my-4" >
        <form method="post" action="/contact">
            <form class="row g-3 needs-validation" action="/contact" method="post" novalidate>
                <div>
                  <label for="validationCustom01" class="form-label">Name</label>
                  <input type="text" class="form-control" id="validationCustom01" name="Name" value="" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div>
                  <label for="validationCustom01" class="form-label">Contact Number</label>
                  <input type="tel" class="form-control" id="validationCustom01" name="Phone" value="" required>
                </div>
            <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" name="Email" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div>
                <label for="validationCustom03" class="form-label">City</label>
                <input type="text" class="form-control" id="validationCustom03" name="City" required>
                <div class="invalid-feedback">
                  Please provide a valid city.
                </div>
              </div>
              <div class="col-md-3">
                <label for="validationCustom04" class="form-label">State</label>
                <select class="form-select" id="validationCustom04" name="State" required>
                  <option selected disabled value="">Choose...</option>
                  <option>RAJASTHAN</option>
                  <option>MUMBAI</option>
                  <option>BANGLORE</option>
                  <option>DELHI</option>
                  <option>HYDERABAD</option>
                </select>
                <div class="invalid-feedback">
                  Please select a valid state.
                </div>
              </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Enter your Review</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" name="Review" rows="3"></textarea>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    {{>footer}}
</body>

</html>